<h2>Edit User</h2>


<%= simple_form_for @user do |f| %>
  <%= f.input :name, label: 'name', error: 'Make a name!' %>
  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Delete!', user_path(@user), method: :delete, class: 'delete' %>
